<div class="media">
  <div class="media-left">
    <a href="#" class="media-object"><img src="http://placehold.it/64x64" alt=""></a>
  </div>

  <div class="media-body">

    <p><%= comment.created_at.strftime('%Y-%m-%d %H:%M') %></p>
    <p><%= comment.content %></p>
    <%= render comment.comments if not comment.comments.empty? %>
  </div>
</div>