<li>
  <%= topic_content_for example.sentence, 'highlight' %> <br>
  <%= example.hanyu.pinyin %> <br>
  <span class="meaning"><%= topic_content_for example.hanyu.meaning, 'highlight' %></span>
</li>
<br>