body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.examples {
  li {
    font-size: 14px;
  }

  .highlight {
    font-weight: bold;
    color: #ef4348;
  }

  .meaning {
    color: gray;
  }
}