@import "font-awesome-sprockets";
@import "font-awesome";

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  background: #eeeff3;
  padding-top: 45px;
}

#topic {
  .topic-pinyin, .topic-meaning {
    display: block;
    font-size: 23px;
    color: gray;
  }

  .topic-meaning {
    font-size: 20px;
  }
}

#examples {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 20px;
  li {
    border-bottom: 1px dotted #e3e3e3;
  }
  .meaning {
    color: gray;
  }
}

#pronunciation {
  text-align: center;
  ruby {
    font-size: 3.5em;
    rt {
      color: #acacac;
    }
  }
}

.user-topic-status {
  .fa-star, .fa-star-o {
    color: #FFCE54;
  }
}

.audio-buttons {
  text-transform: uppercase;
  margin-top: 28px;
  .example-audio {
    display: none;
    font-size: 14px;
  }
}