body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  background: #eeeff3;
  padding-top: 30px;
}

#topic {
  .topic-pinyin, .topic-meaning {
    display: block;
    font-size: 23px;
    color: gray;
  }

  .topic-meaning {
    font-size: 20px;
  }
}

.highlight {
  font-weight: bold;
  color: #ef4348;
}

.examples {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    border-bottom: 1px dotted #e3e3e3;
  }
  .meaning {
    color: gray;
  }
}

#pronunciation {
  text-align: center;
  ruby {
    font-size: 3.5em;
    rt {
      color: #acacac;
    }
  }
}